stages:
  - test
  - analysis
  - build

variables:
  # Set PROJECT_NAME to the name of the project folder.
  # Do not touch the other variables.
  PROJECT_NAME: sindit-frontend
  ROOTDIR: $CI_PROJECT_DIR/projects/$PROJECT_NAME
  RULES_CHANGES_PATH: $ROOTDIR/**/*
  CI_REGISTRY: gitlab.sintef.no:5050
  IMAGE_PATH: $CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME
  IMAGE_NAME: sindit-frontend
  DOCKER_TLS_CERTDIR: ""
  VITE_SINDIT_BACKEND_API: http://0.0.0.0:9017
  VITE_SINDIT_BACKEND_API_BASE_URI: http://

before_script:
  - cd projects/$PROJECT_NAME
  - echo $SONAR_HOST_URL

.base-rules:
  rules:
    # Do not run when creating tags
    - if: $CI_COMMIT_TAG
      when: never
    # Always run on default branch (main)
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: always
    # Run on merge requests
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: always
      allow_failure: false
    # Run when triggered by parent pipeline
    - if: $CI_PIPELINE_SOURCE == "parent_pipeline"
    # Avoid duplicate jobs on merge requests
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never
    # Run if on a branch and not a merge request
    - if: $CI_COMMIT_BRANCH


npm-test:
  stage: test
  extends: .base-rules
  image: node:23
  before_script:
    - cd projects/$PROJECT_NAME
  script:
    - npm install
    - npm run coverage
    - ls -la ./coverage
  artifacts:
    when: always
    expire_in: 1 weeks
    paths:
      - $ROOTDIR/coverage
    reports:
      coverage_report:
        coverage_format: cobertura
        path: $ROOTDIR/coverage/cobertura-coverage.xml


sonarqube:
  stage: analysis
  extends: .base-rules
  dependencies:
    - npm-test
  before_script:
    - cd projects/$PROJECT_NAME
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [""]
  variables:
    SONAR_USER_HOME: $ROOTDIR/.sonar
    GIT_DEPTH: "0"
  cache:
    key: $CI_JOB_NAME
    paths:
      - $ROOTDIR/.sonar/cache
  script:
    - pwd
    - ls -la
    - sonar-scanner
  allow_failure: true


docker-build:
  stage: build
  extends: .base-rules
  image: docker:latest
  tags:
    - dind
  services:
    - docker:dind
  allow_failure: false
  before_script:
    - cd projects/$PROJECT_NAME
    - docker run --privileged --rm tonistiigi/binfmt --install arm64,amd46
    - docker buildx create --use
    - |
      echo "$CI_JOB_TOKEN" | docker login $CI_REGISTRY \
      -u $CI_REGISTRY_USER --password-stdin
  script:
    - docker buildx build
      --platform linux/arm64
      --label "git-commit-sha=$CI_COMMIT_SHA"
      --label "git-commit-branch=$CI_COMMIT_BRANCH"
      --label "git-commit-timestamp=$CI_COMMIT_TIMESTAMP"
      --label "git-commit-title=$CI_COMMIT_TITLE"
      --label "architecture=arm64"
      -t $IMAGE_PATH/$IMAGE_NAME:$CI_COMMIT_SHORT_SHA-arm64
      -t $IMAGE_PATH/$IMAGE_NAME:latest-arm64 .
    - docker buildx build
      --platform linux/amd64
      --label "git-commit-sha=$CI_COMMIT_SHA"
      --label "git-commit-branch=$CI_COMMIT_BRANCH"
      --label "git-commit-timestamp=$CI_COMMIT_TIMESTAMP"
      --label "git-commit-title=$CI_COMMIT_TITLE"
      --label "architecture=amd64"
      -t $IMAGE_PATH/$IMAGE_NAME:$CI_COMMIT_SHORT_SHA-amd64
      -t $IMAGE_PATH/$IMAGE_NAME:latest-amd64 .
    - docker build
      --label "git-commit-sha=$CI_COMMIT_SHA"
      --label "git-commit-branch=$CI_COMMIT_BRANCH"
      --label "git-commit-timestamp=$CI_COMMIT_TIMESTAMP"
      --label "git-commit-title=$CI_COMMIT_TITLE"
      -t $IMAGE_PATH/$IMAGE_NAME:$CI_COMMIT_SHORT_SHA
      -t $IMAGE_PATH/$IMAGE_NAME:latest .
  after_script:
    - docker push $IMAGE_PATH/$IMAGE_NAME:$CI_COMMIT_SHORT_SHA-arm64
    - docker push $IMAGE_PATH/$IMAGE_NAME:latest-arm64
    - docker push $IMAGE_PATH/$IMAGE_NAME:$CI_COMMIT_SHORT_SHA-amd64
    - docker push $IMAGE_PATH/$IMAGE_NAME:latest-amd64
    - docker push $IMAGE_PATH/$IMAGE_NAME:$CI_COMMIT_SHORT_SHA
    - docker push $IMAGE_PATH/$IMAGE_NAME:latest
  rules:
    - if: $CI_COMMIT_BRANCH == "sindit"
